In [1]:
import pandas as pd
import os
import json

In [2]:
success_df = pd.DataFrame(columns = ['Agent', 'Trajectory', 'Time'])

In [9]:
directory = '/common/users/ac1771/imitation-game/results/agent_1/'

# iterate through all result json files
for file_name in os.listdir(directory):
    f = open(directory + file_name)

    # account for json coding errs
    try:
        result = json.load(f)

        if result['agent_1_nn']['success'] and result['agent_1_cnn']['success']:
            # first load agent 1 results
            success_df = success_df.append([{'Agent': '1_norm', 'Trajectory': result['agent_1']['trajectory_length'], 'Time': result['agent_1']['completion_time']}])
            
            # now neural network results
            success_df = success_df.append([{'Agent': '1_nn', 'Trajectory': result['agent_1_nn']['trajectory_length'], 'Time': result['agent_1_nn']['completion_time']}])
            success_df = success_df.append([{'Agent': '1_cnn', 'Trajectory': result['agent_1_cnn']['trajectory_length'], 'Time': result['agent_1_cnn']['completion_time']}])
    
    except ValueError:
        print(file_name)
    
    # Close file socket
    f.close()

success_df = success_df.reset_index()
success_df.head()

1639552032.json

   index Trajectory       Time   Agent
0      0        209   0.130270  1_norm
1      0        392  12.819973   1_cnn
2      0        212   0.192385  1_norm
3      0        316   8.993918    1_nn
4      0        276   8.561646   1_cnn

In [11]:
success_df = success_df.convert_dtypes()
grouped_df = success_df.groupby(['Agent'])
avg_results_df = grouped_df.mean()
avg_results_df.head()

        index  Trajectory      Time
Agent
1_cnn     0.0  247.723662  8.229975
1_nn      0.0  265.917693  8.115629
1_norm    0.0  226.283508  0.194982