In [1]:
import pandas as pd
import os
import json

In [2]:
success_df = pd.DataFrame(columns = ['Agent', 'Trajectory', 'Time'])

In [3]:
directory = '/common/users/ac1771/imitation-game/results/agent_1/'

# iterate through all result json files
for file_name in os.listdir(directory):
    f = open(directory + file_name)

    # account for json coding errs
    try:
        result = json.load(f)

        if result['agent_1_nn']['success'] and result['agent_1_cnn']['success']:
            # first load agent 1 results
            success_df = success_df.append([{'Agent': '1_norm', 'Trajectory': result['agent_1']['trajectory_length'], 'Time': result['agent_1']['completion_time']}])
            
            # now neural network results
            success_df = success_df.append([{'Agent': '1_nn', 'Trajectory': result['agent_1_nn']['trajectory_length'], 'Time': result['agent_1_nn']['completion_time']}])
            success_df = success_df.append([{'Agent': '1_cnn', 'Trajectory': result['agent_1_cnn']['trajectory_length'], 'Time': result['agent_1_cnn']['completion_time']}])
    
    except ValueError:
        print(file_name)
    
    # Close file socket
    f.close()

success_df = success_df.reset_index()
success_df.head()

1639552032.json

   index   Agent Trajectory      Time
0      0  1_norm        212  0.192385
1      0    1_nn        316  8.993918
2      0   1_cnn        276  8.561646
3      0  1_norm        247  0.245556
4      0    1_nn        234  6.507491

In [4]:
success_df = success_df.convert_dtypes()
grouped_df = success_df.groupby(['Agent'])
avg_results_df = grouped_df.mean()
avg_results_df.head()

        index  Trajectory      Time
Agent
1_cnn     0.0  237.255636  7.917228
1_nn      0.0  265.188225  8.075922
1_norm    0.0  226.516962  0.194865

In [5]:
# calculate solvability
# iterate through all result json files
nn_fails = 0
cnn_fails = 0
total = 0

for file_name in os.listdir(directory):
    f = open(directory + file_name)

    # account for json coding errs
    try:
        result = json.load(f)
        total += 1

        if not result['agent_1_nn']['success']:
            nn_fails += 1
            
        if not result['agent_1_cnn']['success']:
            cnn_fails += 1
    
    except ValueError:
        print(file_name)

print(nn_fails)
print(cnn_fails)
print(total)